@theme {
	--color-shark-50: #f6f6f6;
	--color-shark-100: #e7e7e7;
	--color-shark-200: #d1d1d1;
	--color-shark-300: #b0b0b0;
	--color-shark-400: #888888;
	--color-shark-500: #6d6d6d;
	--color-shark-600: #5d5d5d;
	--color-shark-700: #4f4f4f;
	--color-shark-800: #454545;
	--color-shark-900: #3d3d3d;
	--color-shark-950: #1f1f1f;
}
