@theme {
	--text-3xs: 0.5rem;
	--text-2xs: 0.625rem;
	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-md: 1rem;
	--text-md2: 1.125rem;
	--text-lg: 1.25rem;
	--text-xl: 1.5rem;
	--text-2xl: 2.25rem;
	--text-3xl: 2.5rem;
	--text-4xl: 3rem;
	--text-5xl: 4rem;
	--text-6xl: 5rem;

	--font-iliad: iliad, sans-serif;
	--font-montserrat: montserrat, sans-serif;
	--font-inter: inter, sans-serif;

	--font-display: var(--font-iliad);
	--font-heading: var(--font-inter);
	--font-body: var(--font-inter);
	--font-overline: var(--font-inter);

	--font-display-2xs: var(--font-display-2xs);
	--font-display-xs: var(--font-display-xs);
	--font-display-sm: var(--font-display-sm);
	--font-display-md: var(--font-display-md);
	--font-display-lg: var(--font-display-lg);
	--font-display-xl: var(--font-display-xl);
	--font-display-2xl: var(--font-display-2xl);

	--font-heading-4xs: var(--font-heading-4xs);
	--font-heading-3xs: var(--font-heading-3xs);
	--font-heading-2xs: var(--font-heading-2xs);
	--font-heading-xs: var(--font-heading-xs);
	--font-heading-sm: var(--font-heading-sm);
	--font-heading-md: var(--font-heading-md);
	--font-heading-lg: var(--font-heading-lg);
	--font-heading-xl: var(--font-heading-xl);
	--font-heading-2xl: var(--font-heading-2xl);
	--font-heading-3xl: var(--font-heading-3xl);
	--font-heading-4xl: var(--font-heading-4xl);

	--font-paragraph-xs: var(--font-paragraph-xs);
	--font-paragraph-sm: var(--font-paragraph-sm);
	--font-paragraph-md: var(--font-paragraph-md);
	--font-paragraph-lg: var(--font-paragraph-lg);
	--font-paragraph-xl: var(--font-paragraph-xl);

	--font-label-sm: var(--font-label-sm);
	--font-label-md: var(--font-label-md);
	--font-label-lg: var(--font-label-lg);

	--font-overline-xs: var(--font-overline-xs);
	--font-overline-sm: var(--font-overline-sm);
	--font-overline-md: var(--font-overline-md);
	--font-overline-lg: var(--font-overline-lg);
	--font-overline-xl: var(--font-overline-xl);
}

@layer components {
	.font-display-2xs,
	.font-display-xs,
	.font-display-sm,
	.font-display-md,
	.font-display-lg,
	.font-display-xl,
	.font-display-2xl {
		font-family: var(--font-display);
		font-weight: var(--font-weight-bold);
		line-height: var(--leading-normal);
		letter-spacing: var(--tracking-normal);
	}

	.font-display-2xs {
		font-size: var(--text-xl);
	}
	.font-display-xs {
		font-size: var(--text-2xl);
	}
	.font-display-sm {
		font-size: var(--text-3xl);
	}
	.font-display-md {
		font-size: var(--text-4xl);
	}
	.font-display-lg {
		font-size: var(--text-5xl);
	}
	.font-display-xl {
		font-size: var(--text-6xl);
	}
	.font-display-2xl {
		font-size: var(--text-7xl);
	}

	.font-heading-4xs,
	.font-heading-3xs,
	.font-heading-2xs,
	.font-heading-xs,
	.font-heading-sm,
	.font-heading-md,
	.font-heading-lg,
	.font-heading-xl,
	.font-heading-2xl,
	.font-heading-3xl,
	.font-heading-4xl {
		font-family: var(--font-heading);
		font-weight: var(--font-weight-bold);
		line-height: var(--leading-normal);
		letter-spacing: var(--tracking-normal);
	}

	.font-heading-4xs {
		font-size: var(--text-xs);
	}
	.font-heading-3xs {
		font-size: var(--text-sm);
	}
	.font-heading-2xs {
		font-size: var(--text-md);
	}
	.font-heading-xs {
		font-size: var(--text-lg);
	}
	.font-heading-sm {
		font-size: var(--text-xl);
	}
	.font-heading-md {
		font-size: var(--text-2xl);
	}
	.font-heading-lg {
		font-size: var(--text-3xl);
	}
	.font-heading-xl {
		font-size: var(--text-4xl);
	}
	.font-heading-2xl {
		font-size: var(--text-5xl);
	}
	.font-heading-3xl {
		font-size: var(--text-6xl);
	}
	.font-heading-4xl {
		font-size: var(--text-7xl);
	}

	.font-paragraph-xs,
	.font-paragraph-sm,
	.font-paragraph-md,
	.font-paragraph-lg,
	.font-paragraph-xl {
		font-family: var(--font-body);
		font-weight: var(--font-weight-normal);
		line-height: var(--leading-tight);
		letter-spacing: var(--tracking-normal);
	}

	.font-paragraph-xs {
		font-size: var(--text-2xs);
	}
	.font-paragraph-sm {
		font-size: var(--text-xs);
	}
	.font-paragraph-md {
		font-size: var(--text-sm);
	}
	.font-paragraph-lg {
		font-size: var(--text-md);
	}
	.font-paragraph-xl {
		font-size: var(--text-lg);
	}

	.font-label-sm,
	.font-label-md,
	.font-label-lg {
		font-family: var(--font-body);
		font-weight: var(--font-weight-semibold);
		line-height: var(--leading-normal);
		letter-spacing: var(--tracking-normal);
	}

	.font-label-sm {
		font-size: var(--text-xs);
	}
	.font-label-md {
		font-size: var(--text-sm);
	}
	.font-label-lg {
		font-size: var(--text-md);
	}

	.font-overline-xs,
	.font-overline-sm,
	.font-overline-md,
	.font-overline-lg,
	.font-overline-xl {
		font-family: var(--font-body);
		font-weight: var(--font-weight-semibold);
		line-height: var(--leading-normal);
		text-transform: uppercase;
		letter-spacing: var(--tracking-wider);
	}

	.font-overline-xs {
		font-size: var(--text-xs);
	}
	.font-overline-sm {
		font-size: var(--text-sm);
	}
	.font-overline-md {
		font-size: var(--text-md);
	}
	.font-overline-lg {
		font-size: var(--text-xl);
	}
	.font-overline-xl {
		font-size: var(--text-2xl);
	}
}
