@theme {
	/*
	spacing-x
	x = valueRem * 4
	valueRem = valuePx / 16

	for get x use pnpm tailwind:rem valuePx.
	pnpm tailwind:rem 72
	// { 's-18': { px: 72, rem: '4.5rem' } }

	*/
	--spacing-18: 72px;
	--spacing-94.5: 378px;
}
