html,
body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: LouisGeorgeCafeLight, Arial, Helvetica, sans-serif;
	color: var(--foreground);
	background: var(--background);
}
