html,
body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: LouisGeorgeCafeLight, Arial, Helvetica, sans-serif;
	color: var(--foreground);
	background: var(--background);
}

/* Keyframes */
@keyframes accordion-down {
	from {
		height: 0;
	}
	to {
		height: var(--radix-accordion-content-height);
	}
}

@keyframes accordion-up {
	from {
		height: var(--radix-accordion-content-height);
	}
	to {
		height: 0;
	}
}

/* Déclaration des utilitaires Tailwind v4 */
@utility animate-accordion-down {
	animation: accordion-down 0.2s ease-out;
}

@utility animate-accordion-up {
	animation: accordion-up 0.2s ease-out;
}
