:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #ffffff;
		--foreground: #171717;
	}
}

@theme {
	--font-display: "Caviar Dreams", sans-serif;
	--font-candelize: "Candelize", sans-serif;
	--font-caviarDreams: "CaviarDreams", sans-serif;
	--font-caviarDreams-bold: "CaviarDreamsBold", sans-serif;
	--font-louisGeorgeCafe-light: "LouisGeorgeCafeLight", sans-serif;
	--font-toxic: "Toxigenesis", sans-serif;
	--font-grayson: "Grayson", sans-serif;
}
