:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #ffffff;
		--foreground: #171717;
	}
}

@theme {
	--font-display: "Caviar Dreams", sans-serif;
	--font-candelize: "Candelize", sans-serif;
	--font-caviarDreams: "CaviarDreams", sans-serif;
	--font-caviarDreams-bold: "CaviarDreamsBold", sans-serif;
	--font-louisGeorgeCafe-light: "LouisGeorgeCafeLight", sans-serif;
	--font-toxic: "Toxigenesis", sans-serif;
	--font-grayson: "Grayson", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: darkolivegreen; /* couleur du texte */
	caret-color: white;
	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	box-shadow: 0 0 0px 1000px transparent inset; /* rend le fond "transparent" */
	transition: background-color 9999s ease-in-out 0s;
}
